* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #FEFEFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.draggable-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 80px;
    background: #35CE8D;
    border: 2px solid rgb(57, 175, 126);
    padding: 5px;
}

.draggable {
    width: 160px;
    height: 60px;
    background: #D6EFFF;
    border: 2px solid rgb(146, 186, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
}

.dropable-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropable {
    background: #FED99B;
    border: 3px dashed rgb(228, 178, 104);
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 220px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    transition: .3s ease;
}

.active {
    background: #FE654F;
    border: 3px solid rgb(219, 62, 38);
}

.over {
    background: rgb(245, 109, 141);
    border: 3px solid rgb(218, 59, 96);
}

.empty {
    background: rgb(115, 238, 187);
    border: 2px dashed rgb(47, 146, 105);
}

.full {
    background: #F0803C;
    border: 3px solid rgb(194, 92, 29);
}